@use "../../styles/partials/index" as *;

.main {
  background-color: $background--lightgrey;
  height: 90vh;

  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    // width: 100%;
    position: absolute;
    top: 8rem;
    z-index: 7;
    right: $pad--16;
    left: $pad--16;
    background-color: $primary--white;
    height: 90vh;

    //TODO container does align in the center at desktop
    @include tablet {
      width: 100%;
      top: 6rem;
      // right: unset;
      // left: unset;
      margin: 0 $pad--16;
    }
    @include desktop {
      width: 100%;
      right: unset;
      left: unset;
      max-width: 1042px;
    }
  }
}
