@use "../../styles/partials/index" as *;

h4 {
  line-height: $lheight__h4--DT;
  font-size: $size__h4--DT;
}
p {
  line-height: $lheight__p2--DT;
  font-size: $size__p2--DT;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;

  @include tablet {
    font-size: 2 rem;
  }
}

.Big {
  height: 5.816rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: $secondary--cloud 1px solid;

  &__editbutton {
    @include cta__primary--M;

    background-image: url(../../assets/icons/edit_white-24px.svg);

    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 8px;

    &:hover {
      @include cta__primary--hover;
    }
    @include tablet {
      @include cta__primary--DT;
    }
  }

  &__text {
    display: none;

    @include tablet {
      display: unset;
    }
  }
}
.container {
  color: $primary--black;
  border-top: 1px $secondary--cloud solid;
  padding-left: $pad--24;
  padding-right: $pad--24;
  align-items: center;
  @include desktop {
    padding-left: $pad--32;
    padding-right: $pad--32;
  }
}

.warehouse {
  display: flex;
  flex-direction: row;
  &__left {
    width: 40%;
    border-right: 1px $secondary--cloud solid;
  }
  &__right {
    width: 60%;
    padding-left: $pad--24;
    display: flex;
    justify-content: flex-start;
    gap: $pad--24;
  }
}

.info {
  &__title {
    color: $secondary--slate;
  }
  &__wrapper {
    &-name {
      width: 35%;
    }
  }
}
