//Primary Colors
$primary--black: #13182c; //Instock-Black:  Global text color
$primary--white: #ffffff; //White:  Global white color
$primary--indigo: #2e66e5; //Instock-Indigo:  Interactive elements

//Secondary Colors
$secondary--slate: #5c667e; //Slate:  Table column headers & placeholder text
$secondary--cloud: #bdc5d5; //Cloud:  Outlines, dividers, borders, table sorting icon

//Background Colors
$background--graphite: #232940; //Graphite:  Top navigation header background,CTA button hover state background
$background--lightgrey: #f7f8f9; //Light-Grey:  Page background,table column header background, CTA background

//Supporting Colors
$support--green: #158463; //Green:  “In stock” label
$support--red: #c94515; //Red:  “Out of stock” label, error states & delete icon
