//Text-Sizes

//Mobile
$size__h1--M: 1.75rem; //Page Header
$size__h2--M: 1.25rem; //Subheader
$size__h3--M: 0.813rem; //Labels, Links & Buttons
$size__h4--M: 0.688rem; //Table Header
$size__p1--M: 0.938rem; //Body Large
$size__p2--M: 0.813rem; //Body Medium
$size__p3--M: 0.688rem; //Body Small

//Desktop & Tablet
$size__h1--DT: 2rem; //Page Header
$size__h2--DT: 1.5rem; //Subheader
$size__h3--DT: 0.875rem; //Labels, Links & Buttons
$size__h4--DT: 0.75rem; //Table Header
$size__p1--DT: 1rem; //Body Large
$size__p2--DT: 0.875rem; //Body Medium
$size__p3--DT: 0.75rem; //Body Small

//Line Heights

//Mobile
$lheight__h1--M: 2.25rem; //Page Header
$lheight__h2--M: 1.75rem; //Subheader
$lheight__h3--M: 1.25rem; //Labels, Links & Buttons
$lheight__h4--M: 1rem; //Table Header
$lheight__p1--M: 1.625rem; //Body Large
$lheight__p2--M: 1.25rem; //Body Medium
$lheight__p3--M: 1rem; //Body Small

//Desktop & Tablet
$lheight__h1--DT: 2.5rem; //Page Header
$lheight__h2--DT: 2rem; //Subheader
$lheight__h3--DT: 1.375rem; //Labels, Links & Buttons
$lheight__h4--DT: 1.125rem; //Table Header
$lheight__p1--DT: 1.75rem; //Body Large
$lheight__p2--DT: 1.375rem; //Body Medium
$lheight__p3--DT: 1.125rem; //Body Small

//Font Weights
$demi: 600;
$regular: 400;