@use "colors" as c;
@use "padding" as p;
@use "font-styles" as f;
@use "styling" as s;

// CTA Buttons

//Primary

@mixin cta__primary--DT {
	width: s.$width__cta--DT;
	height: s.$height__cta--DT;
	padding: 0 s.$pad__cta--DT;
	border-radius: s.$radius__cta;
	font-size: f.$size__h3--DT;
	background-color: c.$primary--indigo;
	color: c.$primary--white;
	border: none;
	font-weight: f.$demi;
	line-height: f.$lheight__h3--DT;
}

@mixin cta__primary--M {
	width: s.$width__cta--M;
	height: s.$height__cta--M;
	font-size: f.$size__h3--M;
	background-color: c.$primary--indigo;
	color: c.$primary--white;
	border: none;
	border-radius: s.$radius__cta;
	font-weight: f.$demi;
	line-height: f.$lheight__h3--M;
}

@mixin cta__primary--hover {
	background-color: c.$background--graphite;
}

//Secondary

@mixin cta__secondary--DT {
	width: s.$width__cta--DT;
	height: s.$height__cta--DT;
	padding: 0 s.$pad__cta--DT;
	border-radius: s.$radius__cta;
	font-size: f.$size__h3--DT;
	background-color: c.$primary--white;
	color: c.$secondary--slate;
	border: 1px solid c.$secondary--cloud;
	font-weight: f.$demi;
	line-height: f.$lheight__h3--DT;
}

@mixin cta__secondary--M {
	width: s.$width__cta--M;
	height: s.$height__cta--M;
	font-size: f.$size__h3--M;
	background-color: c.$primary--white;
	color: c.$secondary--slate;
	border: 1px solid c.$secondary--cloud;
	border-radius: s.$radius__cta;
	font-weight: f.$demi;
	line-height: f.$lheight__h3--M;
}

@mixin cta__secondary--hover {
	color: c.$primary--indigo;
    border: 1px solid c.$primary--indigo;
}

//Delete 

@mixin cta__delete--DT {
    width: s.$width__cta--DT;
    height: s.$height__cta--DT;
    padding: 0 s.$pad__cta--DT;
    border-radius: s.$radius__cta;
    font-size: f.$size__h3--DT;
    background-color: c.$support--red;
    color: c.$primary--white;
    font-weight: f.$demi;
    line-height: f.$lheight__h3--DT;
    border: none;
}

@mixin cta__delete--M {
    width: s.$width__cta--M;
    height: s.$height__cta--M;
    font-size: f.$size__h3--M;
    background-color: c.$support--red;
    color: c.$primary--white;
    font-weight: f.$demi;
    line-height: f.$lheight__h3--M;
    border: none;
    border-radius: s.$radius__cta;
}

@mixin cta__delete--hover {
    background-color: c.$background--graphite;
}
