@use "../partials/index" as *;

.Testing__cta--primary {
	@include cta__primary--DT;
}

.Testing__cta--mobile {
	@include cta__primary--M;

	&:hover {
		@include cta__primary--hover;
	}
}

.Testing__cta--second--dt {
	@include cta__secondary--DT;

	&:hover {
		@include cta__secondary--hover;
	}
}

.Testing__cta--second--m {
	@include cta__secondary--M;
}

.Testing__cta--delete--dt {
	@include cta__delete--DT;
}

.Testing__cta--delete--m {
	@include cta__delete--M;

	&:hover {
		@include cta__delete--hover;
	}
}

.Testing__cta--link--dt {
	@include cta__link--DT;
}

.Testing__cta--link--m {
	@include cta__link--M;

	&:hover {
		@include cta__link--hover;
	}
}

.Testing__form {
	margin-top: $pad--16;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: $pad--16;

	.Testing__text {
		.Testing__label-dt {
			@include fieldtext__label--DT;
		}

		.Testing__text-dt {
			@include field__text--DT;
		}

		.Testing__label-m {
			@include fieldtext__label--M;
		}

		.Testing__text-m {
			@include field__text--M;
		}
	}

	.Testing__drop {
		.Label__drop--m {
			@include drop__label--M;
		}

		.Input__drop--m {
			@include drop__select--M;
		}

		.Label__drop--dt {
			@include drop__label--DT;
		}

		.Input__drop--dt {
			@include drop__select--DT;
		}
	}

	.Testing__search {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: $pad--16;

		.Input__search-m {
			@include search__input--M;
		}

		.Input__search-dt {
			@include search__input--DT;
		}
	}

	.Testing__radio {
		display: flex;
		flex-direction: row;
		gap: $pad--16;

		.form__label--m {
			@include status__label--M; 
		}

		.form__label--dt {
			@include status__label--DT; 
		}

        .radio__label--m {
            @include radio__label--M; 
            .radio__btn {
                @include radio__btn; 
            }
        }
		.radio__label--dt {
            @include radio__label--DT; 
			.radio__btn {
				@include radio__btn; 
			}
		}
	}
}

.tag__oos--m {

    @include tag__out--M;

}

.tag__is--m {

    @include tag__in--M;
}

.tag__oos--dt {
    @include tag__out--DT;
}

.tag__is--dt {

    @include tag__in--DT;
}
