@use "../../styles/partials/index" as *;

.section__large {
  width: 100%;
  border-bottom: 1px solid $secondary--cloud;
  height: 12rem;
}

.large {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: $pad--16;
  height: 100%;
  justify-content: space-evenly;

  @include tablet {
    flex-direction: row;
  }

  &__title {
    font-size: $size__h1--M;

    @include tablet {
      font-size: $size__h1--DT;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
  }

  &__search {
    @include search__input--M;
  }
}
