@use "../../styles/partials/index" as *;

.header {
  background-color: $background--graphite;
  height: 12.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include tablet {
    height: 11.625rem;
  }

  &__nav {
    width: 100%;
    padding-top: $pad--24;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      padding-top: $pad--24;
      padding-left: $pad--24;
      padding-right: $pad--24;
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding-left: unset;
      padding-right: unset;
      max-width: 1280px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-top: $pad--16;

    @include tablet {
      margin-bottom: unset;
    }

    @include desktop {
      margin-top: unset;
    }
  }

  &__logo {
    width: 8.037rem;
  }

  &__button {
    @include cta__primary--DT;
    background-color: $background--graphite;
    color: $secondary--cloud;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $primary--white;
      text-decoration: underline;
    }
  }
  &__button.active {
    background-color: $primary--black;
  }
}
